.header {
  grid-area: h;
  background-color: rgb(27, 27, 27);
}

.header img {
  width: 90px;
  margin-left: 20px;
  position: relative;
  bottom: 15px;
  
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: #ffff;
  padding: 20px;
}