.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.dialogsItems {
    padding: 10px;
    color: white;
    
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}
